@import "~react-image-gallery/styles/css/image-gallery.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

@font-face {
  font-family: "Recia";
  src: url("ReciaSerifDisplay-Bold.ttf");
}

.dividerLine{
  width: 90vw;
  height: 1px;
  margin-left: 5vw;
  border-bottom: 1pt solid black;
}

#root{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(220,220,220,1) 10%, rgba(220,220,220,1) 90%, rgba(255,255,255,1) 100%);
}


.selectBall{
  width: 200px;
  height: 200px;
  min-height: 200px;
  min-width: 80px;
  max-width: 200px;
  border-radius: 100px;
  overflow: visible;
  top: 0;  
  transition: 150ms;
  background-image: url('Images/blob.svg');
}

.selectOblate{
  width: 200px;
  height: 50px;
  border: 1pt solid black;
  border-radius: 100px;
  transition: 150ms;
}
.selectBall:hover{
  color: transparent;
  filter: blur(1rem);
  overflow: visible;
}

.selectBall:hover p{
  opacity: 0;
}
.sticky{
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}
.selectors:hover{
  filter: blur(0.5rem);
}

.blur{
  backdrop-filter: blur(1.5rem);
  overflow: visible;
}

.lightblur{
  filter: blur(0.2rem);
  overflow: visible;
  
}

.selectBall:hover p{
  z-index: 5;
  color: white;
  
}

.margin{
  margin-top: 120px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
  margin-left: 10%;
  border-spacing: 0px;
}

td {
  border-collapse:collapse;
  border-bottom: 1px solid black;
  text-align: left;
  padding: 8px;
  transition: 150ms;
}

video{
  width: 80%;
  margin-left: 10%;
}

.marginContainer > * {
  margin-bottom: 3vh;
  
}

.marginContainer{
  height: 100%;
}


img, video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-top: 1vh;
  width: 70%;
}


.centerClass{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: visible;
  width: 100vw;

}

.sideScroll{
  overflow-x: visible;
  width: 100vw;
  display: flex;
  flex-direction: row;
  
}

.sideScroll > * {
  margin-right: 10px;
  
}

.footer{
  width: 80%;
  margin-left: 10%;
  position: relative;
  bottom: 0;
}
.hoverPar{
  font-size: 200%;
  transition: 150ms;
  
}
.hoverPar:hover{
  margin-left: 25px;
  filter: blur(0.2rem);
}
.right{
  font-size: 200%;
  float: right;
  transition: 150ms;
}

.right:hover{
  margin-right: 25px;
  filter: blur(0.2rem);
}

td:hover {background-color: #BFFE39;}

.hoverTable p:hover{
  margin-left: 15px;
  transition: 150ms;
}

.hoverTable p{
  height: 100%;
  transition: 150ms;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}