@import "~react-image-gallery/styles/css/image-gallery.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

@font-face {
  font-family: "Recia";
  src: url("ReciaSerifDisplay-Bold.ttf");
}

.dividerLine{
  width: 90vw;
  height: 1px;
  margin-left: 5vw;
  border-bottom: 1pt solid black;
}

body{
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(230,230,230,1) 10%, rgba(230,230,230,1) 90%, rgba(255,255,255,1) 100%);
  overflow-x: hidden;
}

#root{
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;

  
}

  
  .openingContainer{
    animation: openContainer 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes openContainer {
  0% {height: 0px;}
  100% {height: 50px;}
}

.selectBall{
  width: 200px;
  height: 200px;
  min-height: 200px;
  min-width: 80px;
  max-width: 200px;
  border-radius: 100px;
  overflow: visible;
  top: 0;  
  transition: 150ms;
  animation: inflate 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes inflate{
  0%{
    height: 0px;
  }
  100%{
    height: 100px;
  }
}

.alert-enter {
  opacity: 0;
  height: 0px;
}
.alert-enter-active {
  opacity: 1;
  height: 75px;
  transform: scale(0.9);
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms, height 500ms;
}
.alert-exit {
  opacity: 1;
  height: 75px;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms, height 500ms;
}
.alert-exit-active {
  opacity: 0;

}

.selectOblate{
  width: 200px;
  height: 50px;
  border: 1pt solid black;
  border-radius: 100px;
  transition: 150ms;
}
.selectBall:hover{
  color: transparent;
  filter: blur(1rem);
  overflow: visible;
}

.selectBall:hover p{
  opacity: 0;
}
.sticky{
  position: -webkit-sticky;
  position: sticky;
  left: 0;
}
.stickierStuff{
  position: fixed;
}

.selectors:hover{
  filter: blur(0.5rem);
}

.blur{
  backdrop-filter: blur(1.5rem);
  overflow: visible;
}

.lightblur{
  filter: blur(0.2rem);
  overflow: visible;
  
}

.selectBall:hover p{
  z-index: 5;
  color: white;
  
}
.stickyStuff{
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  background-color: #BFFE39;
}
.margin{
  margin-top: 120px;
}
table {
  font-family: 'Inter', sans-serif;
  border-collapse: collapse;
  width: 90vw;
  margin-left: 5vw;
  border-spacing: 0px;
}

td {
  border-collapse:collapse;
  border-bottom: 1px solid black;
  text-align: left;
  padding: 8px;
  transition: 150ms;
}

video{
  width: 80%;
  margin-left: 10%;
}

.marginContainer > * {
  margin-bottom: 1.5vh;
  margin-top: 1.5vh;
  
}

.marginContainer{
  height: 100%;
  width: 98%;
  margin-left: 1vw;
  scroll-behavior: smooth;
}


img, video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-top: 1vh;
  width: 70%;
}


.centerClass{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;

}

.sideScroll{
  overflow-x: visible;
  width: 100vw;
  display: flex;
  flex-direction: row;
  
}

.sideScroll > * {
  margin-right: 10px;
  
}

.footer{
  width: 80%;
  margin-left: 10%;
  position: relative;
  bottom: 0;
}
.hoverPar{
  font-size: 200%;
  transition: 150ms;
  color: #555;
  
}
.hoverPar:hover{
  margin-left: 25px;
  color: black;
}
.hoverpar::before{
  content: linear-gradient(#e66465, #9198e5);
  height: 100px;
  width: 100px;
  background-color: black;
}
.right{
  font-size: 200%;
  float: right;

  transition: 150ms;
}

.arrowDown{
  border-bottom: 1pt solid black;
  border-left: 1pt solid black;
  transform: rotate(-45deg);
  width: 20px;
  height: 20px;
}

.right:hover{
  margin-right: 25px;
  filter: blur(0.2rem);
}

td:hover {background-color: #BFFE39;}

.hoverTable p:hover{
  margin-left: 15px;
  transition: 150ms;
}

.hoverTable p{
  height: 100%;
  transition: 150ms;
}

.absolute{
  position: fixed;

}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}