@import "~react-image-gallery/styles/css/image-gallery.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

@font-face {
  font-family: "Recia";
  src: url("ReciaSerifDisplay-Bold.ttf");
}

.dividerLine{
  width: 90vw;
  height: 1px;
  margin-left: 5vw;
  border-bottom: 1pt solid black;
}



body{
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255,255,255) 10%, rgba(255,255,255) 90%, rgba(255,255,255) 100%);
  overflow-x: hidden;
  cursor: crosshair;

}
.grey{
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255,255,255) 10%, rgba(255,255,255) 90%, rgba(255,255,255) 100%);
}

@keyframes sheeesh{
  0%{
    overflow: hidden;
  }

  100%{
    overflow: hidden;
  }
}

#root{
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;
  
  
}

  
  .openingContainer{
    animation: openContainer 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes openContainer {
  0% {height: 0px;}
  100% {height: 50px;}
}

.selectBall{
  width: 200px;
  height: 200px;
  min-height: 200px;
  min-width: 80px;
  max-width: 200px;
  border-radius: 100px;
  overflow: visible;
  top: 0;  
  transition: 150ms;
  animation: inflate 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  border: 1pt solid black;
}

.selectBall p{
  color: rgb(255, 255, 255);
  transition: 50ms;
}

.selectBall:hover{
  color: transparent;
  overflow: visible;
  filter:blur(4px);
}

@keyframes rotate{

  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(180deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.selectBall:hover p{
  z-index: 5;
  color: white;
  transition: 50ms;
}

@keyframes inflate{
  0%{
    height: 0px;
  }
  100%{
    height: 100px;
  }
}

.bottomTing{

  z-index: 100;
  border: 1pt black solid;
  border-radius: 100%;
  bottom: 0;
  height: 50px;
  font-size: 25px;

  width: 80vw;
  margin-left: 10vw;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 150ms;
}

.bottomTing:hover {
  padding: 25px;
  z-index: 100;
  border: 1pt black dashed;
  border-radius: 0%;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.alert-enter {
  opacity: 0;
  height: 0px;
}
.alert-enter-active {
  opacity: 1;
  height: 75px;
  transform: scale(0.9);
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms, height 500ms;
}
.alert-exit {
  opacity: 1;
  height: 75px;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms, height 500ms;
}
.alert-exit-active {
  opacity: 0;

}

.selectOblate{
  width: 200px;
  height: 50px;
  border: 1pt solid black;
  border-radius: 100px;
  transition: 150ms;
}

.bloop{
  animation: rotate 10s infinite linear;
  border: 1pt dashed black;
  overflow: visible;
}

.selectors:hover{
  filter: blur(0.5rem);
}

#movertingiguess{
  position: absolute;
  background-color: black;
  height: 00vh;
  width: 00vh;
  margin: 0;
  z-index: 100;
  animation: letsSee 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes letsSee{
  0%{
    height: 100vh;
    width: 100vw;
  }
  30%{
    height: 50vh;
    width: 100vw;
  }
  60%{
    height: 100vh;
    width: 50vw;
  }
  100%{
    height: 00vh;
    width: 00vw;
  }
}

.lightblur{
  border: 1pt dashed black;
  overflow: visible;
  
}

.sticky{
  font-size: 200%;
}
.linkButton{
  padding: 0px 5px 0px 5px;
}
.sticky a{
  text-decoration: underline;
}

.stickyStuff{
  width: fit-content;
  height: fit-content;
  border-radius: 100%;
  background-color: #BFFE39;
}
.margin{
  margin-top: 120px;
}
table {
  font-family: 'Inter', sans-serif;
  border-collapse: collapse;
  width: 90vw;
  margin-left: 5vw;
  border-spacing: 0px;
}

td {
  border-collapse:collapse;
  border-left: 1px dashed black;
  border-spacing: 1px;
  width: 50%;
  text-align: left;
  padding: 8px;
  transition: 150ms;
}

.selTd{
  background-color: #BFFE39;
  mix-blend-mode: difference;
}

th{
  font-style: italic;
}

video{
  width: 80%;
  margin-left: 10%;
}

.marginContainer > * {
  margin-bottom: 1.5vh;
  margin-top: 1.5vh;
}



.marginContainer{
  height: 100%;
  padding-bottom: 50px;
  scroll-behavior: smooth;
}

#mouse-circle {
  position: absolute;
  width: 26px;
  height: 26px;
  margin: -13px 0 0 -13px;
  border: 1px solid white;
  border-radius: 50%;
  pointer-events: none !important;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0);
  mix-blend-mode: difference;
}


img, video{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-top: 1vh;
  width: 90%;
}


.centerClass{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin-left: 4vw;

}


.footer{
  width: fit-content;
  margin-left: 5%;
  position: fixed;
  bottom: 0;
  right: 0;
  mix-blend-mode:difference;
  background-color: #BFFE39

}

.footer:hover{
  background-color: #4001c6
}
.hoverPar{
  font-size: 200%;
  transition: 150ms;
  color: #555;
  
}

#topContainer{
  margin-top: 0px;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  text-align: center;
  z-index: 120;

}
#topContainer a{
  font-size: 25px;
  border: 1pt solid black;
  border-radius: 20px;
}

.hoverPar:hover{
  margin-left: 25px;
  color: black;
  font-style: italic;
}
.hoverpar::before{
  content: linear-gradient(#e66465, #9198e5);
  height: 100px;
  width: 100px;
  background-color: black;
}
.right{
  font-size: 200%;
  float: right;
  transition: 150ms;
  color: #555;
}
.right:hover{
  color: black;
  margin-right: 25px;
}

.arrowDown{
  border-bottom: 1pt solid black;
  border-left: 1pt solid black;
  transform: rotate(-45deg);
  width: 20px;
  height: 20px;
}

.backGroundStuff{
  position: absolute;
  margin-left: 10vw;
  width: 82vw;
  height: 97vh;
  background-color: white;
  z-index: -100;
}

td:hover {background-color: #BFFE39;}

.hoverTable p:hover{
  margin-left: 15px;
  transition: 150ms;
}

.loader{
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: -100;
  position: absolute;
  margin: 0px;
  border-radius: 100vw;
  border: 1pt solid black;
  background: radial-gradient(circle, rgb(119, 0, 255)  0%, rgba(230,230,230,1) 20%);
}

.deflator{
  animation: loader 5s linear;
}

@keyframes exAnDeflate {
  0%{
    width: 100vw;
    height: 100vh;
  }
  100%{
    width: 0vw;
    height: 0vh;
  }
}

.skeleton{
  background-color: black;
}

.hoverTable p{
  height: 100%;
  transition: 150ms;
}

.absolute{
  position: fixed;

}

.scrolly{
  font-style: italic;
  border-radius: 35%;
  border: black 1pt dashed;
  transform: rotate3d(1, 1, 1, 5deg);
  width: fit-content;
  transition: 150ms;
}

.scrolly:hover{
  border: black 1pt solid;
  border-radius: 100%;
  background-blend-mode:hue;
  font-style:normal;
  transition: 150ms;
  transform: rotate3d(1, 1, 1, 0deg);

}

a{
  text-decoration:dashed;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}